 
body {
      background: #fff;
}
 
 .full-bg{
   background: #fff;
}

.page {
      background: #fff;
}

.navigation, .logotop, .language {
      visibility:hidden;
}

* {
  text-shadow: 0 0 0;
}

h1 {
  font-size: 2em;
}