      </div>{% comment %}<!-- end main_content -->{% endcomment %}
        <div class="row footer">
          <a class=mail href="mailto:119raz@walla.com">רז הימן - 119raz&#64;walla.com</a>
          <a class=copyright href="/terms.html">&#169; כל הזכויות שמורות לתנועה מדידת זמנים</a>
          <a class=logo_tiny href="http://tnuatiming.com">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48">
              <switch><g style="fill-opacity:1;stroke:none" transform="translate(0,-1004.3622)">
              <g transform="matrix(0.09375568,0,0,0.09375461,-0.00116932,953.69956)">
                <circle r="9.4605808" cy="27.385893" cx="125.97511" style="fill:#ff6600" transform="matrix(6.8338754,3.9455391,-3.9455391,6.8338754,-496.84603,-69.162415)" />
                <circle r="9.4605808" cy="27.385893" cx="125.97511" style="fill:#cc0000" transform="matrix(-6.8338754,3.9455391,-3.9455391,-6.8338754,1043.617,486.47643)" />
                <circle r="9.4605808" cy="27.385893" cx="125.97511" style="fill:#003399" transform="matrix(2.0421961,7.621578,-7.621578,2.0421961,388.79116,-219.69357)" />
                <circle r="9.4605808" cy="27.385893" cx="125.97511" style="fill:#66cc33" transform="matrix(6.8338754,-3.9455391,3.9455391,6.8338754,-712.95025,1287.5835)" />
              </g>
              </g><foreignObject><img src="/images/logo16.png" width="16" height="16" alt="לוגו תנועה מדידת זמנים" /></foreignObject></switch>
            </svg>
          </a>
        </div>{% comment %}<!-- end footer -->{% endcomment %}
     </div>{% comment %}<!-- end page -->{% endcomment %}
  </div>{% comment %}<!-- end full-bg -->{% endcomment %}
