	                </div>{% comment %}<!-- end main -->{% endcomment %}
                    </div>{% comment %}<!-- end content -->{% endcomment %}
            <div class="row">
              <div class="footer col">
                    <div class=content>
                    <a class=mail href="mailto:119raz@walla.com">רז הימן - 119raz&#64;walla.com</a>
                    <a href="/terms.html" class=copyright>&#169; כל הזכויות שמורות לתנועה מדידת זמנים</a>
                    <a href="http://tnuatiming.com"><img src="/images/logo16.png" alt="logo" width=16 height=16></a>
                  </div>{% comment %}<!-- end content -->{% endcomment %}
              </div>{% comment %}<!-- end footer -->{% endcomment %}
            </div>{% comment %}<!-- end row -->{% endcomment %}
        </div>{% comment %}<!-- end main_content -->{% endcomment %}
      </div>{% comment %}<!-- end row -->{% endcomment %}
    </div>{% comment %}<!-- end page -->{% endcomment %}
  </div>{% comment %}<!-- end full-bg -->{% endcomment %}