	     </div><!-- end main -->
                    </div><!-- end content -->
            <div class="row">
                <div class="footer col">
                    <div class=content>
                    <a class=mail href="mailto:119raz@walla.com">רז הימן - 119raz&#64;walla.com</a>
                    <p class=copyright>&#169; כל הזכויות שמורות לתנועה מדידת זמנים</p>
                    <a href="//tnuatiming.com"><img src="/images/logo16.png" alt="logo" width=16 height=16></a>
                  </div><!-- end content -->
                </div><!-- end footer -->
            </div><!-- end row -->
            </div><!-- end main_content -->
          </div><!-- end row -->
        </div><!-- end page -->
    </div><!-- end full-bg -->