<head>
  <title>תנועה מדידת זמנים {% if page.tag %} &middot; {{ page.tag }}{% endif %} {% if page.round %} &ndash; {{ page.round }}{% endif %}{% if page.season %} עונת {{ page.season }}{% endif %}{% if page.place %} &ndash; {{ page.place }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="fksQzLHsNNdUr7KUw53_2thUPno2gvM0oe_MRxWvjSo" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64 128x128" type="image/x-icon" />
  <link rel="stylesheet" media="all" type="text/css" href="/style/global.css" />
  <link rel="stylesheet" media="print" href="/style/print.css" />
  
  <meta property="og:site_name" content="tnua timing - תנועה מדידת זמנים">
  <meta property="og:image" content="/images/logo2_og.png">
  <meta property="og:title" content="תנועה מדידת זמנים {% if page.tag %} &middot; {{ page.tag }}{% endif %} {% if page.round %} &ndash; {{ page.round }}{% endif %}{% if page.season %} עונת {{ page.season }}{% endif %}{% if page.place %} &ndash; {{ page.place }}{% endif %}">
  <meta property="og:type" content="article">
  <meta property="article:tag" content="{{ page.tag }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38104277-1', 'auto');
  ga('send', 'pageview');

 </script>
</head>
