<head>
  <title>תנועה מדידת זמנים {% if page.tag %} &middot; {{ page.tag }}&#58; {% endif %}{% if page.noseason == "true" %}{% if page.round == empty %}{% else %} {{ page.round }} &ndash;{% endif %}{% else %}{% if page.round == empty %} עונת {{ page.season }} &ndash;{% else %} עונת {{ page.season }} {{ page.round }} &ndash;{% endif %}{% endif %}{% if page.place %} {{ page.place }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="fksQzLHsNNdUr7KUw53_2thUPno2gvM0oe_MRxWvjSo">
  <meta name="description" content="{% if page.tag %}תוצאות{% else %}תנועה מדידת זמנים עוסקת במדידת זמנים בארועי ספורט{% endif %}">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffcc33">
  <meta name="apple-mobile-web-app-title" content="תנועה מדדית זמנים">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="תנועה מדדית זמנים">
  <meta name="msapplication-TileColor" content="#ffcc33">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffcc33">
  
  <link rel="stylesheet" media="all" type="text/css" href="/style/global.css">
  <link rel="stylesheet" media="print" href="/style/print.css">

  <meta property="og:locale" content="he_IL">
  <meta property="og:site_name" content="tnua timing - תנועה מדידת זמנים">
  <meta property="og:title" content="תנועה מדידת זמנים {% if page.tag %} &middot; {{ page.tag }}&#58; {% endif %}{% if page.round %}{{ page.round }}{% endif %}{% if page.season %} עונת {{ page.season }}{% endif %}{% if page.place %} &ndash; {{ page.place }}{% endif %}">
  {% if page.tag %}<meta property="og:description" content="תוצאות">{% else if page.place %}<meta property="og:description" content="{{ page.place }}">{% endif %}
  {% if page.tag %}<meta property="og:type" content="article">{% endif %}
  {% if page.tag %}<meta property="article:tag" content="{{ page.categories[1] }}">{% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="http://tnuatiming.com/images/logo2_og.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
{% if page.body == "live" %}
<script type="text/javascript">
  {% include_relative elite.min.js %}
</script>
{% endif %}

</head>
