{% if page.protect %}
<?php include("/home/raz/public_html/password_protect.php"); ?>
{% endif %}
<!DOCTYPE html>
<html class="no-js" lang="he" xml:lang="he" dir="rtl">

  {% include head.html %}

{% if page.body == "live" %}
    <body  onload="Load('p1.html', 'result');" id=live>
{% else %}
    <body id={{ page.body }}>
{% endif %}

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

</body>

{% if page.url == "/index.html" %}
{% endif %}
{% if page.body == "home" %}
<script>
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('/service-worker.js')
           .then(function() { console.log("Service Worker Registered"); });
}
</script>
{% endif %}

</html>
