<!DOCTYPE html>
<html class="no-js" lang="he" xml:lang="he" dir="rtl">

  {% include head.html %}

<body id={{ page.body }}>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

</body>

{% if page.url == "/index.html" %}
{% endif %}
{% if page.body == "home" %}
<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () =>
    navigator.serviceWorker.register('sw.js')
      .then(registration => console.log('Service Worker registered'))
      .catch(err => 'SW registration failed'));
}
</script>
{% endif %}

</html>
