<!DOCTYPE html>
<html class="no-js" lang="he" xml:lang="he" dir="rtl">

  {% include head.html %}

<body id="race" class="{{ page.categories[1] }}">

    {% include header.html %}

{% if page.type == "" or page.type == nil or page.type == blank %}
    <h2> {{ page.tag }} </h2>
  {% else %}
    <h2> {{ page.tag }} - {{ page.type }}</h2>  
{% endif %}

{% if page.display_date %}
    {% assign display_date = page.display_date %}
{% else %}
    {% assign display_date = page.date | date: "%-d-%-m-%Y" %}
{% endif %}

{% if page.noseason == "true" %}
        {% if page.round == empty %}
            <h2>{{ page.place }} - {{ display_date }}</h2>
        {% else %}
            <h2>{{ page.round }} - {{ page.place }} - {{ display_date }}</h2>
        {% endif %}
{% else %}
        {% if page.round == empty %}
            <h2>עונת {{ page.season }} - {{ page.place }} - {{ display_date }}</h2>
        {% else %}
           <h2>{{ page.round }} עונת {{ page.season }} - {{ page.place }} - {{ display_date }}</h2>        
        {% endif %}
{% endif %}
        {{ content }}

{% assign counter = 0 %}{% comment %}<!-- check if there were more then one race in the season -->{% endcomment %}
{% for post in site.posts %}
{% if post.categories[1] == page.categories[1] and post.season == page.season %}
{% assign counter = counter | plus: 1 %}
{% endif %}
{% endfor %}
    {% if counter >= 2 %}{% comment %}<!-- if there are more then one, add the results list at the buttom -->{% endcomment %}

        <div class="erlier_races"><h2>תוצאות נוספות בעונת {{ page.season }}:</h2>
                <ul>
        {% for post in site.posts %}
        
        {% if post.display_date %}
            {% assign display_date1 = post.display_date %}
        {% else %}
            {% assign display_date1 = post.date | date: "%-d-%-m-%Y" %}
        {% endif %}
        
        {% if post.categories[1] == page.categories[1] and post.season == page.season and post != page %}
                    <li><a href="{{ post.url }}">{{ post.round }} - {{ post.place }} - {{ display_date1 }}</a></li>       
        {% endif %}
        {% if post.categories[1] == page.categories[1] and post == page %}

            <li><p>{{ post.round }} - {{ post.place }} - {{ display_date1 }}</p></li>       
                    
        {% endif %}      
        {% endfor %}  
                </ul></div>
    {% endif %}
    {% assign counter = 0 %}

{% comment %}<!--
{% if page.round == "" or page.round == nil or page.round == blank or page.round == empty %}
    <p><span id="name">{{ page.place }}</span></p>
{% else %}
    <p><span id="name">{{ page.round }} - {{ page.place }}</span></p>
{% endif %}
-->{% endcomment %}
    <div id="postInfo"><p><span id="name">{{ page.place }}</span></p>
    <p><span id="rund">{{ page.round }}</span></p>

    <p><span id="date">{{ page.date | date: "%Y%m%d" }}</span></p></div>
  
        {% include footer.html %}

</body>
<script>
// Mouse over event handler
$('table.no_num_color').on('mouseover', 'td.rnk_font:not(:first-child)', function() {
    // Store the hovered cell's text in a variable
    var textToMatch = $(this).text();

    // Loop through every `td` element
    $('td.rnk_font:not(:first-child)').each(function() {
        // Pull selected `td` element's text
        var text = $(this).text();

        // Compare this with initial text and add matching class if it matches
    if (textToMatch === text && text != "") {
            $(this).addClass('matching');
}
    });
});

// Mouse out event handler
// This simply removes the matching styling
$('table.no_num_color').on('mouseout', 'td.rnk_font:not(:first-child)', function() {
    $('.matching').removeClass('matching');
});
</script>
</html>




