<!DOCTYPE html>
<html class="no-js" lang="he" xml:lang="he" dir="rtl">

  {% include head.html %}

<body id=race class={{ page.categories[1] }}>

    {% include header.html %}

{% if page.type == "" or page.type == nil or page.type == blank %}
    <h2> {{ page.tag }} </h2>
  {% else %}
    <h2> {{ page.tag }} - {{ page.type }}</h2>  
{% endif %}


{% if page.noseason == "true" %}
        {% if page.round == empty %}
            <h2>{{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>
        {% else %}
            <h2>{{ page.round }} - {{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>
        {% endif %}
{% else %}
        {% if page.round == empty %}
            <h2>עונת {{ page.season }} - {{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>
        {% else %}
           <h2>{{ page.round }} עונת {{ page.season }} - {{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>        {% endif %}
{% endif %}

        {{ content }}
{% comment %}<!--
        <div class="erlier_races" style="margin-top:50px;"><h2 style="text-align: right;">תוצאות נוספות העונה:</h2>
        <ul>
{% for post in site.posts %}
{% if post.categories[1] == page.categories[1] and post.season == page.season and post != page %}
            <li><a href="{{ post.url }}">עונת {{ post.season }} - {{ post.place }} - {{ post.date | date: "%-d-%-m-%Y" }}</a></li>       
{% endif %}
  {% if post.categories[1] == page.categories[1] and post == page %}
            <li><p style="color:#aaa; margin:0;font-size: 1em;" >עונת {{ post.season }} - {{ post.place }} - {{ post.date | date: "%-d-%-m-%Y" }}</p></li>       
{% endif %}      
{% endfor %}  
        </ul></div>
-->{% endcomment %}
        {% include footer.html %}

</body>
</html>




