<!DOCTYPE html>
<html class="no-js" lang="he" xml:lang="he" dir="rtl">

  {% include head.html %}

<body id="race" class="{{ page.categories[1] }}">

    {% include header.html %}

{% if page.type == "" or page.type == nil or page.type == blank %}
    <h2> {{ page.tag }} </h2>
  {% else %}
    <h2> {{ page.tag }} - {{ page.type }}</h2>  
{% endif %}


{% if page.noseason == "true" %}
        {% if page.round == empty %}
            <h2>{{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>
        {% else %}
            <h2>{{ page.round }} - {{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>
        {% endif %}
{% else %}
        {% if page.round == empty %}
            <h2>עונת {{ page.season }} - {{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>
        {% else %}
           <h2>{{ page.round }} עונת {{ page.season }} - {{ page.place }} - {{ page.date | date: "%-d-%-m-%Y" }}</h2>        {% endif %}
{% endif %}
        {{ content }}

{% assign counter = 0 %}{% comment %}<!-- check if there were more then one race in the season -->{% endcomment %}
{% for post in site.posts %}
{% if post.categories[1] == page.categories[1] and post.season == page.season %}
{% assign counter = counter | plus: 1 %}
{% endif %}
{% endfor %}
    {% if counter >= 2 %}{% comment %}<!-- if there are more then one, add the results list at the buttom -->{% endcomment %}

        <div class="erlier_races"><h2>תוצאות נוספות בעונת {{ page.season }}:</h2>
                <ul>
        {% for post in site.posts %}
        {% if post.categories[1] == page.categories[1] and post.season == page.season and post != page %}
                    <li><a href="{{ post.url }}">{{ post.round }} - {{ post.place }} - {{ post.date | date: "%-d-%-m-%Y" }}</a></li>       
        {% endif %}
        {% if post.categories[1] == page.categories[1] and post == page %}
                    <li><p>{{ post.round }} - {{ post.place }} - {{ post.date | date: "%-d-%-m-%Y" }}</p></li>       
        {% endif %}      
        {% endfor %}  
                </ul></div>
    {% endif %}
    {% assign counter = 0 %}

{% comment %}<!--
{% if page.round == "" or page.round == nil or page.round == blank or page.round == empty %}
    <p><span id="name">{{ page.place }}</span></p>
{% else %}
    <p><span id="name">{{ page.round }} - {{ page.place }}</span></p>
{% endif %}
-->{% endcomment %}
    <p><span id="name">{{ page.place }}</span></p>
    <p><span id="rund">{{ page.round }}</span></p>

    <p><span id="date">{{ page.date | date: "%Y%m%d" }}</span></p>
  
        {% include footer.html %}

</body>
</html>




